/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
}

#box { 
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 1px solid black;
	background-color: orange;
}

div { 
	background-color: skyblue;
	border: 2px solid black;
	height: 200px;
	width: 200px;
}

span {
	background-color: yellow;
	border: 2px solid black;
	height: 200px;
	width: 200px;
}